body::before {
    display: block;
    content:'';

    height: 65px;
}

body

.custom {
    color: rgb(178, 129, 224);

}

.sizin {
      object-fit: contain;
    /*object-position: center;*/
    height:400px;

    /*margin-left:50px;*/

}

.custom1 {
    background-color: rgb(206, 174, 236);
}

.bleu {

    background-color:rgb(78, 145, 233);
}

@media (min-width: 768px) {
    .news-input{
        width:50%;
    }
}

.sizer-small{
    height:200px;
    width: 200px;
    object-fit: cover;

}

.fitterditter {
    object-fit: cover;
}

.custer-sizer {

    object-fit: cover;
    height:350px;
}

.marg-left-0 {

    margin: 0px;
}

.hov-shad:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hov-shad {
    transition: transform .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);


}